$primary-color: #258ea6;
$background-color: #F7F7F7;
$accent-color: #EE2C2C;
// $secondary-accent: #ECC3BF;
$secondary-accent: #CDC9C9;


$primary-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Oxygen', sans-serif;



