html {
  font-size: 125%;
}

body {
  font-family: $primary-font;
  color: $primary-color;
  letter-spacing: .08rem;
  background-color: $background-color;
  background-size: cover;
  height: 100vh;
}

.wrapper {
  max-width: 1600px;
  width: 80%;
  margin: 0 auto;
} 

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-family: $secondary-font;
  color: $accent-color;
  font-size: 2.5rem;
}

h2 {
  text-align: center;
  display: block;
}

img {
  width: 100%;
  image-orientation: from-image;
}