html {
  font-size: 125%;
}

body {
  font-family: $primary-font;
  color: $primary-color;
  background-image: url(../images/felt-background.jpg);
  background-size: cover;
  height: 100vh;
}

.wrapper {
  max-width: 1600px;
  width: 80%;
  margin: 0 auto;
} 

h2 {
  text-align: center;
  display: block;
}

img {
  width: 100%;
  image-orientation: from-image;
}