//BUTTON SETUP

.button {
  // font-family: ;
  letter-spacing: .095rem;
  border: 0;
  background: $accent-color;
  border-radius: 20px;
  padding: .5rem 2.5rem;
  transition: all .1s;
}

.button:hover { 
  background-color: $secondary-accent; 
  transform: scale(1.1); 
}
