header {
  display: flex;
  justify-content: space-evenly;
}

header img {
  animation: rotate 3s linear infinite;
}

.mimi-face {
  width: 10%;
}

form {
  text-align: center;
}

.playing-area {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.card {
  width: 15%;
  // margin: 5%;
}

img {
  width: 100%;
}

.text-box > h3 {
  text-align: center;
}
