//HEADER
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7.5rem;
}

header img {
  animation: rotate 3s linear infinite;
}

.mimi-face {
  width: 10%;
}

main {
  height: calc(100vh - 7.5rem);
}

//NAME/AGE FORM

aside {
  display: flex;
  flex-direction: column;

}
form {
  text-align: center;
}

//FORM SETUP 

input {
  width: 50%;
  margin: .5rem 0;
}

input[type=text],
input[type=number] {
  color: $primary-color;
  border: none;
  border-bottom: .1rem solid orange;
  background-color: saddlebrown;
  padding: .75rem 0 .75rem .75rem;
}

input[type=text]:focus,
input[type=number]:focus {
  border: .1rem solid orange;
}

input::placeholder {
  // color: ;
  opacity: 1;
  // font-family: ;
  letter-spacing: .1rem;
}

input[type=number] {
    -moz-appearance:textfield;
}
 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
} 
// Solution found at https://w3reign.com/how-to-disable-input-type-number-field-arrows-from-css/

//MAIN PLAYING AREA
.playing-area {
  display: flex;
  justify-content: space-around;
  height: calc(100vh - 15rem);
}

.card {
  width: 20%;
}

.front > h3 {
  text-align: center;
}

.main-image {
  width: 40%;
  overflow: hidden;
}

.back {
  height: 0%;
}

//BUTTON/MESSAGE AREA

.button-area {
  height: 7.5rem;
  text-align: center;
}

.text-box > h3 {
  text-align: center;
  align-self: flex-end;
}
